.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/hover.png');
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

.fade-in {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.box-container {
  margin-right: 20px;
}

.test-buttons-container {
  display: flex;
  flex-direction: column;
}

.test-button {
  padding: 8px 16px;
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.test-button:hover {
  background-color: #495057;
}

.test-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.test-heading {
  font-size: 1.2rem;
  font-weight: solid bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  color: #999;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: -10;
  bottom: 0;
  width: calc(100% - 60px);
  border-top: 2px solid black;
  transition: background-color 0.3s ease;
}

.footer:hover {
  background-color: #212529;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  align-items: center;
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.footer-icons a:hover {
  color: #cccccc;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  flex: 1;
}

.contact-form {
  background-color: rgba(0, 0, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  margin-right: -250px;
}

.contact-form h3 {
  color: white;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background-color: rgba(255, 255, 255, 0.5);
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-button:hover {
  background-color: #0056b3;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navigation-menu {
  position: fixed;
  top: 20px;
  right: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  align-items: center;
}

.box-container {
  margin-right: 20px;
}

.test-container {
  flex: 1;

}