/* RowComponent.css */

.buttons-container {
    display: flex;
    justify-content: center;
  }

.program-button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: transparent; /* Transparent background */
  color: #000; /* Black text color */
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px; /* Make the border-radius large to create a circular shape */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Blurred shadow effect */
  backdrop-filter: blur(5px); /* Blurred effect */
}

.program-button:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Darker background color on hover */
}

 
.row {
    text-align: center; /* Center the day text */
  }
  
  .day-text {
    margin-bottom: 10px; /* Add some spacing between day text and buttons */
  }



  